@import 'index';

:host {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ln-dragdrop-panel {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  border-radius: inherit;

  &.hidden {
    display: none;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    color: $hover !important;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing

  }
  .cdk-drag-placeholder {
    color: $hover !important;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing

  }

  .ln-dragdrop-item-placeholder {
    background-color: $grey-602;
    border: 1px dotted $grey-603;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    min-height: 10px;
  }

  .ln-dragdrop-panel-inner {
    .horizontal {
      @include make-row();
      @include align-items(flex-start);
    }

    .vertical {
      @include make-column();
      @include align-items(flex-start);
    }

    .ln-dragdrop-container {
      &.disabled {
        @include disabled(0.4);
      }

      .ln-dragdrop-container-label {
        font-weight: 400;
        &.hidden {
          display: none;
        }
      }

      .ln-dragdrop-container-inner {

        .ln-dragdrop-items {
          list-style: none;
          border: none;

          .ln-dragdrop-item {
            @include make-row();
            @include flex-wrap(nowrap);
            @include align-items(flex-start);
            @include justify-content(flex-start);
            box-sizing: border-box;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;

            background: $white;
            padding: 3px 0px;

            &.disabled {
              @include disabled(0.4);
            }

            &.hidden {
              display: none;
            }

            &.grabbing {
              cursor: grabbing;
              cursor: -moz-grabbing;
              cursor: -webkit-grabbing;
            }

            // .ln-dragdrop-item-icon-container {
            //   float: left;
            // }

            .ln-dragdrop-item-icon {
              float: left;
              color: $active;
            }

            .ln-dragdrop-item-icon-hide {
              visibility: hidden;
            }

            .ln-dragdrop-item-label {
              @include flex(1 1 100%);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &.gray-text {
                color: $grey-704;
              }
            }
          }
        }
      }
    }
  }
}
