<div
  #form
  class="ln-section-panel"
  [class.hidden]="hidden"
  [class.disabled]="disabled"
  [ngStyle]="style">
  <div class="ln-section-panel-nav" *ngIf="tabs">
    <div class="ln-section-panel-nav-inner">
      <ul class="ln-section-panel-nav-items">
        <li class="ln-section-panel-nav-label">{{ label }}</li>
        <li
          class="ln-section-panel-nav-item"
          *ngFor="let sectionTab of sectionTabs"
          [class.active]="sectionTab.active"
          (click)="handleTab(sectionTab)"
          [class.hidden]="sectionTab.hidden"
        >
          <div class="ln-section-panel-nav-item-inner">
            <a [attr.href]="" target="_self">{{ sectionTab.label }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="ln-section-panel-content" [ngStyle]="styleContent">
    <ng-content></ng-content>
  </div>
</div>
