@import "global";

.header {
  height: 24px;
  font-size: 12px;
  color: $grey-900;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header-label {
	height: 12px;
	color: $grey-900;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1px;
  line-height: 12px;
  padding-top: 8px;
}

.header-block {
	height: 28px;
	width: 260px;
	border-radius: 4px;
	background-color: $grey-605;
}

.label,
.label-md,
.label-xs {
  height: 16px;
  font-size: 12px;
  color: $gray-700;
  line-height: 16px;
}
.label-lg {
  font-size: 16px;
  line-height: 24px;
}
.label-md {
  font-size: 14px;
  line-height: 20px;
}
.label-xs {
  font-size: 10px;
  line-height: 12px;
}

.text,
.text-md,
.text-lg {
  height: 20px;
  color: $grey-900;
  line-height: 20px;
}
.text-xs {
  font-size: 10px;
  line-height: 12px;
}
.text-sm {
  font-size: 12px;
  line-height: 16px;
}
.text-md {
  font-size: 14px;
}
.text-lg {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: $grey-900;
}

.text-upper {
  text-transform: uppercase;
}
.text-standard-wrap {
  color: $grey-901;
  height: 100%;
  @include flex-wrap(wrap);
  padding: 5px 0px;
}

.bold {
  font-weight: 500;
}

.red {
  color: $brand-color;
}

.row-margin {
  margin: 0px 20px;
}
.row-height {
  min-height: 44px;
  @include align-items(center)
}

.height-full {
  height: 100%;;
}
.width-full {
  width: 100%;
}

.bar-section-header {
  background-color: $grey-605;
  padding: 10px 20px;
  @include radius(4px);

  &.label, &.label-xs {
    letter-spacing: 1px;
    line-height: 12px;
    color: $grey-900;
    height: auto;
  }
  &.label-xs {
    font-size: 10px;
  }
}

.border-bottom {
  border-bottom: 1px solid $grey-605;
}
.padding-bottom-xs {
  padding-bottom: 5px;
}

.margin-bottom-xs{
  margin-bottom: 15px;
}

.navbar-padding-xs{
  padding: 0 8px;
}

.app-nav-xs {
  width: 100%;
  background-color: rgba(27,37,50,0);
  border-bottom: 1px solid $border-color;
}

.avatar-md {
  padding: 0 10px;
  text-align: right;
  color: $gray-800;
  cursor: default;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  padding-left: 5px;
  text-align: right;
}

.ln-currency {
  margin-top: 0px;
  font-weight: 400px;
  width: 81px;
  height: 20px;
}
