@import 'index';

:host {
	width: inherit;
}

.ln-grid-number {
	width: inherit;
	text-align: right;


	&.align-left {
		text-align: left;
	}

	&.align-center {
	text-align: center;
	}

	&.align-right {
	text-align: right;
	}

	ln-number {
		@include highlightable();
		display: inline-flex;
		max-width: 100%;
	}
}
