@import 'index';

:host {
  width: inherit;
}

.ln-grid-image {
  @include make-row();
  @include flex-wrap(nowrap);
  width: inherit;
  padding: 0 5px 0 0;

  &.disabled {
    @include disabled();
  }

  &.no-image {
    padding: 0;
    user-select: none;
  }

  .ln-grid-image-img-container {
    @include flex(0 0 auto);

    .ln-grid-image-img {

      &.no-image {
        border: 1px solid $grey-611;
      }

      &.disabled {
        @include disabled();
      }
    }
  }

  .ln-grid-image-label-container {
    @include highlightable();
    overflow: hidden;

    ::ng-deep .ln-html {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}
