@import 'index';

.ln-image {
	height: inherit;
	width: inherit;

	&.disabled {
		@include disabled();
	}

	.ln-image-container {
		height: inherit;
		width: inherit;


		img {
			cursor: pointer;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
