@import 'index';

.ln-hyperlink {
	@include font-size();
	background-color: transparent;
	cursor: default;
	margin: 0;
	text-decoration: none;
	text-transform: capitalize;
	width: auto;

	&.disabled {
		@include disabled();
	}

	a.ln-hyperlink-atag {
		color: blue;
		cursor: default;

    &.uppercase {
      text-transform: uppercase;
    }

		&:visited {
			color: blue;
		}

		&.active {
			color: blue;
		}

		&.disabled {
			@include disabled();
		}

		&:hover {
			color: blue;
			text-decoration: underline;
		}

	}

  .ln-hyperlink-icon {
    position: relative;
    color: blue;
    top: 3px;
    width: auto;

    &.disabled {
      @include disabled();
    }
  }
}

