<div class="ln-grid-toolbar">
  <ul class="ln-grid-toolbar-items" [ngStyle]="style">
    <li class="ln-grid-toolbar-item all" [ngStyle]="checkboxStyle">
      <ln-checkbox
        *ngIf="!all.hidden"
        [(ngModel)]="all.checked"
        (onClick)="all.onClick(all.checked)"
        [style]="all.style"
      ></ln-checkbox>
    </li>
    <li class="ln-grid-toolbar-item summary">{{ label }}</li>
    <li class="ln-grid-toolbar-item icons">
      <ul>
        <li *ngFor="let action of actions">
          <ln-icon
            [name]="action.name"
            [active]="action.active"
            (onClick)="handleAction(action)"
          ></ln-icon>
        </li>
      </ul>
    </li>
  </ul>
</div>
