<div class="ln-accordion" [ngClass]="{ 'show-checked-accordion': showChecked, 'active': active }">
  <div class="ln-accordion-header" (click)="handleClick($event)" [attr.for]="uid" [class.active]="active"
    [ngClass]="{ 'show-checked-header': showChecked,  'ln-accordion-header-right': !showLeftIcon}">
  <ng-container *ngIf="template else default">
      <ng-container *ngTemplateOutlet="template"></ng-container>
    </ng-container>
    <ng-template #default>
      <ln-icon *ngIf="showChecked" class="ln-accordion-header-icon-left-checked"
        [name]="(checked === 1 || checked === true) ? 'checkbox-selected' : (checked === 2 || checked === false) ? 'checkbox' : 'checkbox-deselect' "
        [hidden]="!showChecked"
        (click)="toggleClick($event)"
        [padRight]=true>
      </ln-icon>
      <ln-icon *ngIf="showLeftIcon" class="ln-accordion-header-icon-left arrow-icon-visibility"
      [ngClass]="{ 'showCarat': active, 'hideCarat': !active }"
        [name]="getIcon()">
      </ln-icon>
      <span [ngClass]="{ 'ln-accordion-header-left': showLeftIcon }" [class.active]="active" ><ln-html [value]="label"></ln-html></span>
      <ln-icon *ngIf="!showLeftIcon"class="ln-accordion-header-icon-right arrow-icon-visibility"
        [name]="getIcon()">
      </ln-icon>
    </ng-template>
  </div>
  <div [attr.id]="uid" class="ln-accordion-section" [class.active]="active" [ngClass]="{ 'show-checked-section': showChecked, 'show-right-section': !showChecked && !showLeftIcon }">
    <div class="ln-accordion-section-inner" [ngClass]="{'format-inner': !showChecked && showLeftIcon, 'format-inner-icon-left':!showChecked && showLeftIcon }">
      <ng-content></ng-content>
    </div>
  </div>
</div>
