<div
  class="ln-dropdown"
  tabindex="1"
  [class.hidden]="hidden"
  [class.disabled]="disabled || items?.length === 0"
  (cdkDocumentClick)="close()"
  [ngStyle]="style"
>
<!-- (mouseleave)="onMouseLeave()" -->
  <label class="ln-dropdown-label" [class.hidden]="label?.length === 0">{{
    label
  }}</label>
  <div class="ln-dropdown-nav" [class.dont-hide]="displayItem?.name || !this.hover">
    <div class="ln-dropdown-nav-inner" [class.open]="open">
      <button class="ln-dropdown-btn" [class.open]="open" (click)="toggle()">
        {{ displayItem?.name || placeholder }}
        <ln-icon
          class="ln-dropdown-icon"
          [name]="icon.name"
          (onClick)="icon.onClick($event)"
        ></ln-icon>
      </button>
      <ul class="ln-dropdown-nav-items" [class.open]="open">
        <li
          class="ln-dropdown-nav-item"
          [attr.id]="item[dataValueField]"
          (click)="_handleOnClick(item)"
          [class.hidden]="item?.hidden"
          [class.disabled]="item?.disabled"
          [class.red-border-left]="item && value && item[dataValueField] === value[dataValueField] && !multiple"
          [class.border-left]="(!item || !value || item[dataValueField] !== value[dataValueField] || multiple)"
          *ngFor="let item of items">
          <div
            class="ln-dropdown-nav-item-icon-container" *ngIf="multiple">
            <ln-icon
              class="ln-dropdown-nav-item-icon"
              [name]="item.checked ? 'checkbox-selected' : 'checkbox'"
            ></ln-icon>
          </div>
          <div
            class="ln-dropdown-nav-item-icon-container"
            [ngClass]="{
              right: item?.ref && item?.ref['text-align'] === 'left'
            }"
          *ngIf="item?.icon">
            <ln-icon
              class="ln-dropdown-nav-item-icon"
              [color]="item?.icon?.color"
              [ngStyle]="item?.icon?.style"
              [name]="item?.icon?.name"
              (onClick)="item?.icon?.onClick($event)"
            ></ln-icon>
          </div>
          <div
            class="ln-dropdown-nav-item-label"
            [ngClass]="{
              left: item?.ref && item?.ref['text-align'] === 'left'
            }"
            [hidden]="!item"
          >
            {{ (item && item[dataTextField]) ? item[dataTextField] : ''}}
          </div>
          <div
            class="ln-dropdown-nav-item-icon-container"
          *ngIf="!multiple && item && value && item[dataValueField] === value[dataValueField]">
            <ln-icon
              class="ln-dropdown-nav-item-icon"
              [color]="selectedIndicatorIcon?.color"
              [ngStyle]="selectedIndicatorIcon.style"
              [name]="selectedIndicatorIcon?.name"
              (onClick)="selectedIndicatorIcon?.onClick($event)"
            ></ln-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
