@import 'index';

:host {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
}

$padding-left: 20px;

.ln-banner {
  @include make-column();
  width: 100%;
  height: auto;
  // uneven padding to compensate .ln-banner-content's border-left
  padding: 14px 35px 14px 32px;
  background-color: transparent;

  &.disabled {
    @include disabled();
  }

  &.hidden {
    display: none;
  }

  p {
    margin-bottom: 10px;
    opacity: .7;
    color: $grey-806;
    padding-left: 7px;
  }

  .ln-banner-content {
    @include make-row();
    border-left: 3px solid transparent;

    &.active {
      border-left: 3px solid blue;
    }

    .ln-banner-content-label {
      @include flex(1 1 100%);

      h3 {
        @include flex(1 1 100%);
        white-space: nowrap;
        color: $grey-806;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
      }
    }

    .ln-banner-content-action {
      @include flex(0 0 200px);
      text-align: right;

      ul.ln-banner-content-action-items {
        li.ln-banner-content-action-item {
          margin-left: 10px;
          display: inline-block;
        }
      }
    }
  }
}
