@import 'index';

.toyota-icon {
  color: $gray-700;
}

.ln-icon {

  .disabled {
    @include disabled();
  }

  .hidden {
    display: none;
  }

  i.toyota-icon {
    font-family: 'toyota-icon' !important;
    font-style: normal;
    font-weight: inherit;
    transition: background-color 0.5s ease;
    text-rendering: auto;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &:hover {
      color: $brand-color;
      cursor: pointer;
    }


    &.active {
      color: $brand-color;
    }

    &.blue {
      color: #0D6AFF;
    }

    &.green {
      color: #1CA543;
    }

    &.red {
      color: $brand-color;
    }
    &.white {
      color: $white;
    }

    &.hidden {
      display: none;
    }

    &.pad-left {
      padding-left: 8px;
    }

    &.pad-right {
      padding-right: 8px;
    }

    &.document:before {
      content: "\f001";
    }
    &.inbox:before {
      content: "\f05d";
    }
    &.phone:before {
      content: "\f05e";
    }
    &.upload-document:before {
      content: "\f05f";
    }
    &.scan:before {
      content: "\f060";
    }
    &.action:before {
      content: "\f061";
    }
    &.zoom-in:before {
      content: "\f062";
    }
    &.zoom-out:before {
      content: "\f063";
    }
    &.location-pin:before {
      content: "\f064";
    }
    &.sm-avail:before {
      content: "\f02b";
      color: $message-success;
    }
    &.sm-error:before {
      content: "\f02b";
      color: $message-error;
    }
    &.sm-un-avail:before {
      content: "\f013";
      color: $gray-700;
    }
    &.update:before {
      content: "\f027";
    }
    &.update-sm:before {
      content: "\f028";
    }
    &.search:before {
      content: "\f029";
    }
    &.search-sm:before {
      content: "\f02a";
    }
    &.filter-lg:before {
      content: "\f013";
    }
    &.filter-sm:before {
      content: "\f014";
    }
    &.sort:before {
      content: "\f000";
    }
    &.basics:before {
      content: "\f011";
    }
    &.select-columns:before {
      content: "\f001";
    }
    &.close:before {
      content: "\f03e";
    }
    &.close-sm:before {
      content: "\f03f";
    }
    &.checkmark:before {
      content: "\f040";
    }
    &.checkmark-circle:before {
      content: "\f041";
    }
    &.checkbox:before {
      content: "\f037";
    }
    &.checkbox-deselect:before {
      content: "\f038";
    }
    &.checkbox-selected:before {
      content: "\f039";
      color: $brand-blue;
    }
    &.radio:before {
      content: "\f03b";
    }
    &.radio-selected:before {
      content: "\f03c";
    }
    &.add:before {
      content: "\f042";
    }
    &.add-sm:before {
      content: "\f043";
    }
    &.arrow-sm-dwn:before {
      content: "\f044";
    }
    &.arrow-sm-left:before {
      content: "\f045";
    }
    &.arrow-sm-right:before {
      content: "\f046";
    }
    &.arrow-sm-up:before {
      content: "\f047";
    }
    &.arrow-half-dwn:before {
      content: "\f048";
    }
    &.arrow-half-left:before {
      content: "\f049";
    }
    &.arrow-half-right:before {
      content: "\f04a";
    }
    &.arrow-half-up:before {
      content: "\f04b";
    }
    &.arrow-full-dwn:before {
      content: "\f04c";
    }
    &.arrow-full-left:before {
      content: "\f04d";
    }
    &.arrow-full-right:before {
      content: "\f04e";
    }
    &.arrow-full-up:before {
      content: "\f04f";
    }
    &.arrow-double-left:before {
      content: "\f050";
    }
    &.arrow-double-right:before {
      content: "\f051";
    }
    &.exterior:before {
      content: "\f059";
    }
    &.interior:before {
      content: "\f058";
    }
    &.reserved-no:before {
      content: "\f03d";
    }
    &.reserved-yes:before {
      content: "\f031";
    }
    &.reserved-not:before {
      content: "\f03d";
    }
    &.rdr:before {
      content: "\f024";
    }
    &.rdr-pending:before {
      content: "\f02e";
      color: $message-success;
    }
    &.rdr-failed:before {
      content: "\f02e";
      color: $message-error;
    }
    &.rdr-no:before {
      content: "\f02f";
    }
    &.input-icon:hover {
      color: blue;
    }
    &.rdr-processing:before {
      content: "\f030";
      color: $message-success;
    }
    &.promo-no:before {
      content: "\f032";
    }
    &.promo-yes:before {
      content: "\f032";
      color: $message-success;
    }
    &.campaign:before {
      content: "\f03a";
      color: $message-success;
    }
    &.campaign-on:before {
      content: "\f033";
      color: $message-error;
    }
    &.avail:before {
      content: "\f02b";
      color: $message-success;
    }
    &.error:before {
      content: "\f02b";
      color: $message-error;
    }
    &.un-avail:before {
      content: "\f02b";
      color: $gray-700;
    }
    &.allocated:before {
      content: "\f034";
    }
    &.freight:before {
      content: "\f035";
    }
    &.ground:before {
      content: "\f036";
    }
    &.ground-star:before {
      content: "\f066";
    }
    &.allocated-fleet:before {
      content: "\f067";
    }
    &.freight-fleet:before {
      content: "\f068";
    }
    &.demo:before {
      content: "\f069";
    }
    &.settings:before {
      content: "\f002";
    }
    &.share:before {
      content: "\f003";
    }
    &.share2:before {
      content: "\f056";
    }
    &.shortcuts:before {
      content: "\f004";
    }
    &.sticker:before {
      content: "\f019";
    }
    &.submit:before {
      content: "\f01e";
    }
    &.table:before {
      content: "\f00c";
    }
    &.quickview:before {
      content: "\f017";
    }
    &.trade:before {
      content: "\f01d";
    }
    &.help:before {
      content: "\f01f";
    }
    &.info:before {
      content: "\f020";
    }
    &.list:before {
      content: "\f010";
    }
    &.cards:before {
      content: "\f00f";
    }
    &.menu:before {
      content: "\f00e";
    }
    &.more-vert:before {
      content: "\f00d";
    }
    &.location:before {
      content: "\f025";
      color: $brand-color;
    }
    &.new-window:before {
      content: "\f00a";
    }
    &.notification:before {
      content: "\f01b";
    }
    &.pin:before {
      content: "\f021";
    }
    &.ppo:before {
      content: "\f022";
    }
    &.price:before {
      content: "\f023";
    }
    &.print:before {
      content: "\f016";
    }
    &.reset:before {
      content: "\f026";
    }
    &.comment:before {
      content: "\f01a";
    }
    &.copy:before {
      content: "\f007";
    }
    &.date:before {
      content: "\f00b";
    }
    &.delete:before {
      content: "\f009";
    }
    &.download:before {
      content: "\f006";
    }
    &.upload:before {
      content: "\f005";
    }
    &.drag:before {
      content: "\f012";
    }
    &.edit:before {
      content: "\f008";
    }
    &.email:before {
      content: "\f018";
    }
    &.expand:before {
      content: "\f015";
    }
    &.acc:before {
      content: "\f01c";
    }
    &.logo:before {
      content: "\f057";
    }
    &.logo-block:before {
      content: "\f055";
      color: $brand-color;
    }
    &.car:before {
      content: "\f052";
    }
    &.dd-logo:before {
      content: "\f053";
      color: $brand-color;
    }
    &.bullet:before {
      content: "\f065";
    }
    &.rdr-error:before {
      content: "\f06a";
    }
    &.rdr-available:before {
      content: "\f06c";
    }
    &.rdr-unavailable:before {
      content: "\f06b";
    }
    &.alert:before {
      content: "\f06d";
    }
    &.clock:before {
      content: "\f06e";
    }
    &.move:before {
      content: "\f06f";
    }
    &.arrow-md-dwn:before {
      content: "\f071"
    }
    &.arrow-md-up:before {
      content: "\f072"
    }
    &.next:before {
      content: "\f073"
    }
    &.prev:before {
      content: "\f074"
    }
    &.location-2:before {
      content: "\f075"
    }
    &.profile:before {
      content: "\f076"
    }
    &.fav:before {
      content: "\f079"
    }
    &.demo:before {
      content: "\f07a"
    }
    &.promote:before {
      content: "\f07b"
    }
    &.underline:before {
      content: "\f07e"
    }
  }
}
